name: Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "main"
      - "hotfix-*"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - name: "Fetch & Unpack Allure Commandline from Maven Central"
        run: ./fetch-source.sh
      - run: npm pack
      - id: get_name_version
        run: echo version=$(npm pkg get version) >> $GITHUB_OUTPUT
      - run: echo allure-commandline-${{ fromJSON(steps.get_name_version.outputs.version) }}.tgz
#
#  test:
#    needs: build
#    strategy:
#      fail-fast: false
#      matrix:
#        node-version: [ 18, 20, 22, 24 ]
#        os: [ ubuntu-latest, windows-latest, macos-latest ]
#    runs-on: ${{ matrix.os }}
#    steps:
#      - uses: actions/setup-node@v4
#        with:
#          node-version: ${{ matrix.node-version }}
#          registry-url: https://registry.npmjs.org/
